<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student</title>

    <!-- Website icon -->
    <link rel="icon" href="{{url_for('static',filename='images/U.svg')}}">

    <!-- Core CSS files -->
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/vendor.bundle.base.css')}}">

    <!-- Page-specific plugin CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/ti-icons/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/feather/feather.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/vertical-layout-light/style.css')}}">

    <!-- JS files -->
    <script type="text/javascript" src="{{url_for('static',filename='vendors/css/vendor.bundle.base.css')}}"></script>
</head>

<body>
    <div class="container-scroller ">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex ">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <div class="navbar-brand brand-logo mr-5"><img src="static/images/logo1d.svg" class="mr-2" alt="logo" />
                </div>
                <div class="navbar-brand brand-logo-mini"><img src="static/images/U.svg" alt="logo" /></div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

                <div class="dropdown" style="margin-right: 2.5em; ">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Student
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                        <li> <p style="border-bottom: 1px solid;">{{ user[4] }}</p>
                        </li>
                        <a class="dropdown-item" href="{{url_for('login')}}">Log out</a>
                    </div>
                </div>
            </div>
        </nav>


        <div class="container-fluid page-body-wrapper w-100 ">
            <div class="content-wrapper" style="min-height: inherit;">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Find Job</h4>
                                    <p class="card-description"> Fill out this form  to search for a Part Time job </p>
                                    <form id="myForm" class="forms-sample" method="POST">
                                        <div class="form-group"> <!-- Name -->
                                            <label for="name" class="font-weight-bold">Name:</label>
                                            <input type="text" class="form-control custom-input" id="name" name="name" required>
                                        </div>

                                        <div class="form-group"> <!-- Phone Number -->
                                            <label for="phoneNumber" class="font-weight-bold">Phone Number:</label>
                                            <input type="text" class="form-control custom-input" id="phoneNumber" name="phoneNumber" pattern="05[0-9]{8}"
                                            title="Please enter only numbers" minlength="10" maxlength="10" required>
                                            <div id="phoneNumberError" class="error-message"></div>
                                        </div>

                                        <div class="form-group" > <!-- Languages -->
                                            <label class="font-weight-bold">Languages:</label>
                                            <select id="languages" class="js-example-basic-multiple content-wrapper w-100" name="Languages" style="width: 100%;"  multiple="multiple"
                                                required>
                                                <option value="Arabic">Arabic</option>
                                                <option value="English">English</option>
                                            </select>
                                        </div>

                                        <div class="form-group"> <!-- Major -->
                                            <label class="font-weight-bold">Required Major:</label>
                                            <select id="major" class="js-example-basic-single content-wrapper w-100" style="width: 100%;" name="major" required>
                                                <option value="" disabled selected hidden>Select a Major</option>
                                                <option value="ComputerScience">Computer Science</option>
                                                <option value="ArtificialIntelligence">Artificial Intelligence</option>
                                                <option value="DataScience">Data Science</option>
                                                <option value="CyberSecurity">Cyber Security</option>
                                                <option value="SoftwareEngineering">Software Engineering</option>
                                                <option value="NetworkEngineering">Network Engineering</option>
                                            </select>
                                        </div>

                                        <div class="form-group"> <!-- GPA -->
                                            <label class="font-weight-bold">GPA:</label>
                                            <select id="gpa" class="js-example-basic-single content-wrapper w-100" name="gpa" style="width: 100%;" >
                                                <option value="" disabled selected>Enter Your GPA</option>
                                                <option value="5.0">5.0</option>
                                                <option value="4.0">4.0</option>
                                                <option value="3.0">3.0</option>
                                                <option value="2.0">2.0</option>
                                                <option value="1.0">1.0</option>
                                                <option value="0.0">0.0</option>
                                            </select>
                                        </div>

                                        <div class="form-group"> <!-- Skills -->
                                            <label class="font-weight-bold">Skills:</label>
                                            <select id="skills" class="js-example-basic-multiple content-wrapper w-100" style="width: 100%;" name="skills" multiple="multiple" required>
                                                <option value="Programming">Programming</option>
                                                <option value="WebDevelopment">Web Development</option>
                                                <option value="DatabaseManagement">Database Management</option>
                                                <option value="dataScience">Data science</option>
                                                <option value="graphicDesign">Graphic design</option>
                                                <option value="writingContests">Writing contests</option>
                                                <option value="Communication">Communication</option>
                                                <option value="teamwork">Team work</option>
                                                <option value="TimeManagement">Time Management</option>
                                                <option value="Adaptability">Adaptability</option>
                                            </select>
                                        </div>
                                    
                                        <div class="form-group"> <!-- Availability -->
                                            <label for="exampleInputHours" class="col-sm-3 col-form-label font-weight-bold">Availability:</label>
                                            <div class="availability-container">
                                                <div class="day" style="margin-left: 20px;">
                                                    <p class="font-weight-bold"> Please enter the number of periods available during the day and the corresponding times</p>
                                                </div>
                                                <hr>
                                                
                                                <div class="day"> <!-- Sunday availability -->
                                                    <label for="sunday" class="font-weight-bold">Sunday:</label>
                                                    <input type="number" class="interval" id="sunday-interval" name="sunday-interval" min="0" max="5" placeholder="Number of Available Periods"  required>
                                                    <div id="sunday-periods"></div>
                                                </div>
                                                <hr>

                                                <div class="day"> <!-- Monday availability -->
                                                    <label for="monday" class="font-weight-bold">Monday:</label>
                                                    <input type="number" class="interval" id="monday-interval" name="monday-interval" min="0" max="5" placeholder="Number of Available Periods" required>
                                                    <div id="monday-periods"></div>
                                                </div>
                                                <hr>

                                                <div class="day"> <!-- Tuesday availability -->
                                                    <label for="tuesday" class="font-weight-bold">Tuesday:</label>
                                                    <input type="number" class="interval" id="tuesday-interval" name="tuesday-interval" min="0" max="5" placeholder="Number of Available Periods" required>
                                                    <div id="tuesday-periods"></div>
                                                </div>
                                                <hr>

                                                <div class="day"> <!-- Wednesday availability -->
                                                    <label for="wednesday" class="font-weight-bold">Wednesday:</label>
                                                    <input type="number" class="interval" id="wednesday-interval" name="wednesday-interval" min="0" max="5" placeholder="Number of Available Periods" required>
                                                    <div id="wednesday-periods"></div>
                                                </div>
                                                <hr>
                                                   
                                                <div class="day"> <!-- Thursday availability -->
                                                    <label for="thursday" class="font-weight-bold">thursday:</label>
                                                    <input type="number" class="interval" id="thursday-interval" name="thursday-interval" min="0" max="5" placeholder="Number of Available Periods" required>
                                                    <div id="thursday-periods"></div>
                                                </div>
                                                  
                                            </div>
                                            
                                        </div>

                                        <div class="form-group"> <!-- Experience -->
                                            <label class="font-weight-bold">Do you have previous work experience?</label>
                                            <select id="experience" class="js-example-basic-single content-wrapper w-100" name="experience" style="width: 100%;"  required>
                                                <option value="" disabled selected hidden>Choose One</option>
                                                <option value="ComputerScience">Yes</option>
                                                <option value="ArtificialIntelligence">No</option>
                                            </select>
                                        </div>
                                        
                                        <div class="text-center">
                                            <button id="submit-button" type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button id="cancel-button"  onclick="location.href = '/studentCancle';" class="btn btn-light" >Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
<!-- Core JS files -->
<script type="text/javascript" src="{{url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script>


<!-- Page-specific plugin JS -->
<script src="../../static/typeahead.js/typeahead.bundle.min.js"></script>
<script src="../../static/vendors/select2/select2.min.js"></script>

<!-- Custom JS for this page -->
<script src="../../static/js/file-upload.js"></script>
<script src="../../static/js/typeahead.js"></script>
<script src="../../static/js/select2.js"></script>

</html>

<script> /*customize the error message for the phone number input*/
    // Get the phone number input element
    var phoneNumberInput = document.getElementById('phoneNumber');
  
    // Get the error message element
    var phoneNumberError = document.getElementById('phoneNumberError');  
    
    // Add an event listener for input validation
    phoneNumberInput.addEventListener('input', function() {
      // Check if the input value is valid
      if (!phoneNumberInput.checkValidity()) {
        // Display the custom error message
        phoneNumberError.textContent = 'Please enter a valid phone number starting with 05';
        phoneNumberInput.classList.add('error-input');
        } else {
        // Clear the error message
        phoneNumberError.textContent = '';
        // Remove the red border
        phoneNumberInput.classList.remove('error-input');
      }
    });
</script>


<script> /*-- script for time picker  --*/

    function activate() {
        document.head.insertAdjacentHTML("beforeend", `
            <style>
                .time-picker {
                    position: absolute;
                    display: inline-block;
                    padding: 10px;
                    background: #eeeeee;
                    border-radius: 6px;
                }
    
                .time-picker__select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;
                    text-align: center;
                    border: 1px solid #dddddd;
                    border-radius: 6px;
                    padding: 6px 10px;
                    background: #ffffff;
                    cursor: pointer;
                    font-family: 'Heebo', sans-serif;
                }
            </style>
        `);
    
        document.querySelectorAll(".time-pickable").forEach((timePickable) => {
            let activePicker = null;
            timePickable.addEventListener("focus", () => {
                if (activePicker) return;
                activePicker = show(timePickable);
                const onClickAway = ({ target }) => {
                    if (
                        target === activePicker ||
                        target === timePickable ||
                        activePicker.contains(target)
                        ) {
                            return;
                        }
                        document.removeEventListener("mousedown", onClickAway);
                        document.body.removeChild(activePicker);
                        activePicker = null;
                };
                document.addEventListener("mousedown", onClickAway);
            });
        });
            
            const intervalInputs = document.querySelectorAll("[id$='-interval']");
            intervalInputs.forEach((intervalInput) => {
                intervalInput.addEventListener("change", () => {
                    const containerId = intervalInput.id.replace("-interval", "-periods");
                    const container = document.getElementById(containerId);
                    const numPeriods = parseInt(intervalInput.value);
                    // Clear existing period containers
                    container.innerHTML = "";

                    // Generate period containers with start and end time inputs
                    for (let i = 0; i < numPeriods; i++) {
                        const periodContainer = document.createElement("div");
                        periodContainer.classList.add("period");

                        const periodLabel = document.createElement("label");
                        periodLabel.textContent = `Period ${i + 1}:`;
                        periodLabel.style.margin = "8px 5px 5px 5px";

                        const startInput = document.createElement("input");
                        startInput.type = "text";
                        startInput.classList.add("time-pickable", "start-time");
                        //startInput.id = "start-time"
                        startInput.id = `${intervalInput.id}-start-time-${i}`; // Unique ID for start time input
                        startInput.name = `${intervalInput.id}-start-time-${i}`; // Unique name for start time input
                        startInput.placeholder = "Start Time (hour:minute)";
                        startInput.style.border = "1px solid rgb(207, 212, 217)";
                        startInput.style.margin = "5px 5px 5px 5px";
                        startInput.pattern = "(0[1-9]|1[0-2]):[0-5][0-9] (am|pm)"
                        startInput.style.borderRadius = "4px";
                        startInput.required = true;

                        const endInput = document.createElement("input");
                        endInput.type = "text";
                        endInput.classList.add("time-pickable", "end-time");
                        //endInput.id = "end-time"
                        endInput.id = `${intervalInput.id}-end-time-${i}`; // Unique ID for end time input
                        endInput.name = `${intervalInput.id}-end-time-${i}`; // Unique name for end time input
                        endInput.placeholder = "End Time (hour:minute)";
                        endInput.style.border = "1px solid rgb(207, 212, 217)";
                        endInput.style.margin = "5px 5px 5px 5px";
                        startInput.pattern = "(0[1-9]|1[0-2]):[0-5][0-9] (am|pm)"
                        endInput.style.borderRadius = "4px";
                        endInput.required = true;

                        periodContainer.appendChild(periodLabel);
                        periodContainer.appendChild(startInput);
                        periodContainer.appendChild(endInput);

                        container.appendChild(periodContainer);

                    }

                    // Activate the time picker for the new inputs
                    activate();

                });
            });

    }
    
    
    function show(timePickable) {
        const picker = buildPicker(timePickable);
        const left = timePickable.offsetLeft + picker.offsetWidth;
        const top = timePickable.offsetTop;

        picker.style.left = `${left+150}px`;
        picker.style.top = `${top+90}px`;

        document.body.appendChild(picker);

        return picker;
    }
    
    function buildPicker(timePickable) {
        const picker = document.createElement("div");
        const hourOptions = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12].map(numberToOption);
	    const minuteOptions = [0, 10, 20, 30, 40, 50].map(numberToOption);
        
    
        picker.classList.add("time-picker");
        picker.innerHTML = `
            <select class="time-picker__select">
                ${hourOptions.join("")}
            </select>
            :
            <select class="time-picker__select">
                ${minuteOptions.join("")}
            </select>
            <select class="time-picker__select">
                <option value="am">am</option>
                <option value="pm">pm</option>
            </select>
        `;
    
        const selects = getSelectsFromPicker(picker);
    
        selects.hour.addEventListener("change", () => timePickable.value = getTimeStringFromPicker(picker));
        selects.minute.addEventListener("change", () => timePickable.value = getTimeStringFromPicker(picker));
        selects.meridiem.addEventListener("change", () => timePickable.value = getTimeStringFromPicker(picker));

        if (timePickable.value) {
            const { hour, minute,meridiem } = getTimePartsFromPickable(timePickable);
    
            selects.hour.value = hour;
            selects.minute.value = minute;
            selects.meridiem.value = meridiem;
        }
    
        return picker;
    }
    
    function getTimePartsFromPickable(timePickable) {
        const pattern = /^(\d+):(\d+) (am|pm)$/;
        const [hour, minute,meridiem] = Array.from(timePickable.value.match(pattern)).splice(1);
    
        return {
            hour,
            minute,
            meridiem
        };
    }
    
    function getSelectsFromPicker(timePicker) {
        const [hour, minute,meridiem] = timePicker.querySelectorAll(".time-picker__select");
    
        return {
            hour,
            minute,
            meridiem
        };
    }
    
    function getTimeStringFromPicker(timePicker) {
        const selects = getSelectsFromPicker(timePicker);
    
        return `${selects.hour.value}:${selects.minute.value} ${selects.meridiem.value}`;
    }
    
    function numberToOption(number) {
        const padded = number.toString().padStart(2, "0");
    
        return `<option value="${padded}">${padded}</option>`;
    }

    activate();


    /*********** Submit Button Event  *************/

    // Custom validation
    const submitButton = document.getElementById("submit-button");
    submitButton.addEventListener("click", handleClick);
    function handleClick(){ 

        const periodContainers = document.querySelectorAll(".period");
        let isValid = true;

        periodContainers.forEach((periodContainer) => {
            const startInput = periodContainer.querySelector(".start-time");
            const endInput = periodContainer.querySelector(".end-time");

            const startParts = getTimePartsFromPickable(startInput);
            const endParts = getTimePartsFromPickable(endInput);

            const startHours = parseInt(startParts.hour);
            const startMinutes = parseInt(startParts.minute);
            const startMeridiem = startParts.meridiem;
            const endHours = parseInt(endParts.hour);
            const endMinutes = parseInt(endParts.minute);
            const endMeridiem = endParts.meridiem;

            // Define the working hours range
            // Additional condition for working hours
            const workingHoursStart = 8; // 8 AM
            const workingHoursEnd = 16; // 4 PM

            //Check if the chosen time is within working hours
            if (
                (startMeridiem === "am" && startHours < workingHoursStart) || // Start time is before working hours
                (startMeridiem === "pm" && (startHours + 12) > workingHoursEnd) || // Start time is after working hours
                (endMeridiem === "pm" && (endHours + 12) > workingHoursEnd) // End time is after working hours
            ) {
                isValid = false;
                periodContainer.style.border = "1px solid red";
                periodContainer.style.padding = "5px";
                periodContainer.style.margin = "5px";

                const errorSpan = periodContainer.querySelector("span");
                if (!errorSpan) {
                    const errorMessage = document.createElement("span");
                    errorMessage.style.color = "red";
                    errorMessage.textContent = "Invalid start or end times.";
                    periodContainer.appendChild(errorMessage);
                }
            }

            
            // Check if the start time is before the end time
            if (
                (startMeridiem === "pm" && endMeridiem === "am") ||
                (startMeridiem === endMeridiem && startHours > endHours) ||
                (startMeridiem === endMeridiem && startHours === endHours && startMinutes > endMinutes) ||
                (startMeridiem === endMeridiem && startHours === endHours && startMinutes === endMinutes)
            ) {
                // Start time is greater than end time
                isValid = false;
                periodContainer.style.border = "1px solid red";
                periodContainer.style.padding = "5px";
                periodContainer.style.margin = "5px";

                const errorSpan = periodContainer.querySelector("span");
                if (!errorSpan) {
                    const errorMessage = document.createElement("span");
                    errorMessage.style.color = "red";
                    errorMessage.textContent = "Invalid start or end times.";
                    periodContainer.appendChild(errorMessage);
                }
            } 
            if (isValid) {
                periodContainer.style.removeProperty("border");
                periodContainer.style.removeProperty("padding");
                periodContainer.style.removeProperty("margin");
                const errorSpan = periodContainer.querySelector("span");
                if (errorSpan) {
                    errorSpan.remove();
                }
            }
        });

        if (!isValid) {
            // Display a message to the user indicating validation error
            alert("Please ensure that the start time comes before the end time, and that the entered times fall within the allowed working hours.");
            submitButton.disabled = true; // Disable the submit button
            document.getElementById("start-time").value = "";
            document.getElementById("end-time").value = "";
        } //else if(!form.checkValidity()){
            //alert("fill all fields");
        /* else if (isValid && document.getElementById("name").value !== "" && document.getElementById("phoneNumber").value !== ""
         && document.getElementById("languages").value !== "" && document.getElementById("major").value !== ""
         && document.getElementById("gpa").value !== "" && document.getElementById("skills").value !== ""
         && document.getElementById("experience").value !== ""&& document.getElementById("sunday-interval").value !== ""
         && document.getElementById("monday-interval").value !== ""&& document.getElementById("tuesday-interval").value !== ""
          && document.getElementById("wednesday-interval").value !== "" //&& document.getElementById("thursday-interval").value !== ""
         ){
            alert("sent successfully");
            var message = "You have submitted a job application. If there are any offers, they will appear here";
            window.location.href = ("/student?message=" + encodeURIComponent(message));
        }*/
        submitButton.disabled = false; // Disable the submit button if validation fails, enable it if validation passes
    };



        /*********** Cancle Button Event  *************/

        const cancelButton = document.getElementById("cancel-button");
        var form = document.getElementById("myForm");
        // Function to navigate to the previous page
        function Freset() {
        // Use the history object to go back to the previous page
        form.reset();
        //window.location.href = "/post_job';";
        }
        // Add event listener to the cancel button
        cancelButton.addEventListener("click",Freset);


</script>



